html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    font-family: "Roboto Condensed", sans-serif;
}

.header {
    background-color: #F8F9F9;

}

.header__container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

}

body {
    margin: 0;
    min-height: 100vh;
}

/*main: width 80% 
*/

.header__nav {
    display: flex;
    flex-direction: row;
    column-gap: 1em;


}

.header__links {
    text-decoration: none;
    color: #838484;

    &--current {
      color: black;
    }
}

.header__logo {
    height: 150px;
    width: 150px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #33393F;
    color: white;
}

.footer__group {
    display: flex;
    flex-direction: row;
    column-gap: 1em;
    margin: 3em 0;
}

.footer__link {
    color: #0293F2;

    &--current  {
      color: white;
      text-decoration: none;
    }
}

.footer__text {
    margin-bottom: 3em;
    margin-top: 0;
}

$light_grey: #F0F1F1;
$lighter_grey: #F8F9F9;

.coffee {

  width: 80%;
  margin: 0 auto;
  font-weight: 100;

  &__title  {
    text-transform: uppercase;
    font-weight: 100;
  }

  &__description--small {
    font-size: 0.8em;
  }

  &__link {
    color: #0293F2;
    text-decoration: underline;
  }

  &__subtitle {
    text-transform: uppercase;
    font-weight: 100;
    background-color: $light_grey;
    padding: 0.5em;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid rgb(223, 223, 223);

  }

  &__text {
    background-color: $lighter_grey;
    padding: 0.5em;
  }

  &__paragraph {
    font-size: 0.8em;

    &--italic {
      font-style: italic;
    }
  }

  &__boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1.5em;
  }

  &__box {
    width: 45%;
  }

  &__image {
    width: 100%;
  }






}