$border: red solid 1px;

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    font-family: "Roboto Condensed", sans-serif;
}

.header {
    background-color: #F8F9F9;

}

.header__container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

}

body {
    margin: 0;
    min-height: 100vh;
}

/*main: width 80% 
*/

.header__nav {
    display: flex;
    flex-direction: row;
    column-gap: 1em;
}

.header__links {
    text-decoration: none;
    color: #838484;
}

.header__logo {
    height: 150px;
    width: 150px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #33393F;
    color: white;
}

.footer__group {
    display: flex;
    flex-direction: row;
    column-gap: 1em;
    margin: 3em 0;
}

.footer__link {
    color: #0293F2;
}

.footer__text {
    margin-bottom: 3em;
    margin-top: 0;
}

.content__container {
    max-width: 80%;
    margin: auto;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    // flex: 49%

}
.menu__side {
    display: flex;
}

.menu__box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    // &:nth-child(1) {order: 1;}
    // &:nth-child(2) {order: 3;}
    // &:nth-child(3) {order: 4;}
    // &:nth-child(4) {order: 2;}
    // &:nth-child(5) {order: 5;}
    &_container {
        // border: $border;
        display: flex;
        flex-direction: column;
    }
    &_container-one {
        display: flex;
        flex-direction: column;
               

        &-title {
            
        }
        &-beverages {

        }
    }
}

.menu__item {
    // width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &-price {
        width: 1.8em;
        
    }
}

.menu__one,
.menu__two {
    display: flex;
    flex-direction: row;

}

.menu__side_right {
    // border: $border;
}

.menu__box_container-title,
.menu__box_title {
    font-weight: lighter;
}


@media screen and (max-width: 480px) {
    .menu__box_container {
        display: none;
    }
    .menu__one:nth-child(2) {
        display: none;
    }
    .menu__box_container-one {
        margin: auto;
    }
    .menu {
        width: 100%;
        margin: auto;
    }
    .content__container {
        width: 100%;
        margin: auto;     
    }
    .menu__item {
        width: 320px;
    }
}